<div class="container">
    <div class="row">
            Farenheit to Celsius
            Farenheit:<input type="text" [(ngModule)]="Farenheit"/>
            <br>
            Celsius {{Farenheit | tempConverter:'C'}}
         </div>
         <div class="row">
            Celsius to Farenheit
            Celsius:<input type="text" [(ngModule)]="Celsius"/>
            <br>
            Farenheit {{Celsius | tempConverter:'F'}}
         </div>
</div>
<prod-list></prod-list>
<h1>{{title}}</h1>
<br>
<div *dir2="showTitle"><h1 [dir1] ="'blue'">{{title}}</h1></div>
<button dir3>click to toggle</button>
<button dir4 toolTip="Fun to learn angular">Show Tip</button>
<h2>{{productname}}</h2>
<button bg-primary (click)='display()'>click to display</button>


<input type="text"
[value]="productname"
(input)="productname=$any($event.target).value"/>
<p>you entered{{productname}}</p>

<input type="text" name="email"[(ngModel)]="email">
You have entered {{email}}
<counter></counter>
<customer-list></customer-list>

</div>
  