<p>customer-list works!</p>
<h1 [className]="'greenborder'" [innerText] ="title"></h1>
<button [disabled] = "isDisabled" (click)="showTable()">{{buttonName}}</button>
    <input type="text" [(ngModel)]="color">
    <div class ="container">
    <div *ngIf="show; else block1"></div>
    <table class ="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>MobileNumber</th>
            </tr>
        <tr *ngFor = "let c of customers">
            <td [ngClass]="{'red':true, 'size20':true}">{{c.id}}</td>
            <td [ngStyle]={color:color}>{{c.name}}</td>
            <td>{{c.email}}</td>
            <td>{{c.mobileNumber}}</td>
        </tr>
    </table>
    <ng-template #block2>
        Customer list is displayed
    </ng-template>
    <ng-template #block1>
        No data
    </ng-template>

    <input type='text' [(ngModel)]="num"/>
    {{num}}
    <div [ngSwitch]="num">
        <div *ngSwitchCase="1">One</div>
        <div *ngSwitchCase="2">two</div>
        <div *ngSwitchCase="3">three</div>
        <div *ngSwitchDefault>Not in first three</div>
    </div>
</div>

